<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>Table Soccer Legends</title>
</head>
<body>
  <div id="app">
    <section class="hero is-medium is-dark" style="background-image: url(img/bg.jpg); background-position: center;" v-once>
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <span class="icon is-small has-text-warning">
              <i class="fas fa-sm fa-trophy"></i>
            </span> &nbsp; Table Soccer Legends
          </h1>
          <h2 class="subtitle">Don't tilt, just play.</h2>
        </div>
      </div>
    </section>

    <div v-show="loading" class="section">
      <div class="container loader-container has-text-centered">
          <span class="icon is-large has-text-info">
              <i class="fas fa-2x fa-circle-notch fa-spin"></i>
            </span>
      </div>
    </div>

    <div v-show="!loading" v-cloak>
      <section class="section">
        <div class="container">
          <div class="columns">
            <div class="column is-5">
              <h2 class="title is-size-4">Add match</h2>
              <div class="box">
                <div class="notification is-danger" v-if="errors.length > 0">
                  <ul>
                    <li v-for="error in errors">{{ error }}</li>
                  </ul>
                </div>

                <div class="notification is-success" v-if="success.length > 0">
                  {{ success }}
                </div>

                <form @submit="saveMatch">
                  <div v-for="teamId in [0, 1]" class="field">
                    <label class="label">Team {{ teamId + 1 }}</label>
                    <div class="field is-grouped">
                      <div class="control is-expanded" v-for="playerSlot in [0, 1]">
                        <div class="select is-fullwidth">
                          <select v-model="matchInput.teams[teamId][playerSlot]">
                            <option>-</option>
                            <option v-for="player in players" :value="player.id">{{ player.name }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <label class="label">Rounds <small class="has-text-grey">(team 1 - team 2)</small></label>
                    <div class="field is-grouped" v-for="round in [0, 1, 2]">
                      <div class="control is-expanded" v-for="teamId in [0, 1]">
                        <input class="input is-fullwidth" v-model="matchInput.rounds[round][teamId]" type="number"/>
                      </div>
                    </div>
                </div>

                  <div class="field">
                      <div class="control">
                        <button type="submit" class="button is-info">Submit</button>
                      </div>
                    </div>
                </form>
              </div>
            </div>

            <div class="column is-7">
              <h2 class="title is-size-4">Rankings</h2>
              <table class="table is-fullwidth is-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Player</th>
                    <th>Rank</th>
                    <th>Elo</th>
                    <th>Wins</th>
                    <th>Losses</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(playerWithStats, index) in playersWithStats">
                    <td><strong>{{ index + 1 }}.</strong></td>
                    <td>{{ playerWithStats.name }}</td>
                    <td>
                      <img
                        class="rank-icon"
                        :src="ranks[playerWithStats.rank].icon"
                        :alt="ranks[playerWithStats.rank].name"
                      >
                    </td>
                    <td>{{ playerWithStats.rating }}</td>
                    <td>{{ playerWithStats.wins }}</td>
                    <td>{{ playerWithStats.losses }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <h2 class="title is-size-4">Match history</h2>

          <table class="table is-striped is-fullwidth">
            <thead>
              <tr>
                <th v-for="teamId in [0, 1]">Team {{ teamId + 1 }}</th>
                <th>Result</th>
                <th v-for="round in [0, 1, 2]">Round {{ round + 1 }}</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="match in matchHistory">
                <td v-for="teamId in [0, 1]">{{ match.teams[teamId].join(', ') }}</td>
                <td><strong>{{ match.result.join(' - ') }}</strong></td>
                <td v-for="round in [0, 1, 2]">{{ (match.rounds[round] || []).join(' - ') }}</td>
                <td><i>{{ match.date.toLocaleString() }}</i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <section class="section">
        <div class="container">
          <h2 class="title is-size-4">Ranks</h2>
          <div class="box">
            <div class="ranks">
              <div class="rank" v-for="rank in ranks">
                <img class="rank-icon rank-icon--inline" :src="rank.icon" :alt="rank.name"> {{ rank.name }}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
