@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

.has-text-bronze {
  color: #a56729;
}

[v-cloak] {
  display: none;
}

.rank-icon {
  height: 22px;
  width: auto;
  border-radius: 3px;
  border: 1px solid #222;
}

.rank-icon--inline {
  margin-right: 12px;
  position: relative;
  top: 6px;
}

.loader-container {
  padding-top: 12%;
}

.rank {
  margin-bottom: 8px;
}

@media (min-width: 640px) {
  .ranks {
    column-count: 2;
  }
}

@media (min-width: 1024px) {
  .ranks {
    column-count: 3;
  }
}
